


/* .left-section::after {
    opacity: 0.5;
} */
.right-section {
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.were {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}

p {
    color: hsl(0, 36%, 70%);
    line-height: 1.8;
    display: inline-block;
    width: 27em;
}

.logo {
    padding-bottom: 9em;
}

.heading {
    font-size: 4em;
    letter-spacing: 0.25em;
}

.girl {
    float: right;
}

footer {
    clear: both;
    text-align: center;
}

.input-group {
    width: 30em;
}

/* hsl(0, 6%, 24%)
hsl(0, 93%, 68%)
hsl(0, 36%, 70%) */
.btn-outline-secondary {
    border-color: hsl(0, 36%, 70%, 0.5);
    color: hsl(0, 36%, 70%);
    width: 6em;
    border-radius: 5em;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    position: relative;
    right: 2em;
    z-index: 10;
    /* opacity: 0.5; */
}

.form-control {
    border-color: hsl(0, 36%, 70%);
    color: hsl(0, 36%, 70%);
    border-radius: 5em;
    padding: 1.6em;
    opacity: 0.5;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: blue;
    opacity: 0.5;
    /* Firefox */
}

.input-section {}

@media screen and (min-width: 1201px) {
    .mobile-girl {
        display: none;
    }
    .container {
        max-width: 100%;
        margin: 0;
        padding-right: 0;
        padding-left: 0;
        background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    }

    .left-section {
        padding: 4em 10em;
        background: url("images/bg-pattern-desktop.svg") no-repeat fixed;
        /* background-size: 100%; */
    }

}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }


    .logo {
        text-align: left;
        padding-left: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .girl {
        display: none;
    }

    .mobile-girl {
        width: 100%;
    }

    .left-section {
        padding: 0;
    }

    .heading {
        padding-top: 6rem;
        padding-bottom: 1.1rem;
        font-size: 3.5em;
        line-height: normal;
    }

    p {
        padding-bottom: 2rem;
        width: 80%;
        font-size: 1.2em;
    }

    .input-section {
        display: block;
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .input-group {
        width: 100%;
        text-align: center;
    }

    .form-control {
        border-color: hsl(0, 36%, 70%);
        color: hsl(0, 36%, 70%);
        border-radius: 5em;
        padding: 2em;
        opacity: 0.5;
        font-size: 1.2em;
        padding-bottom: 1.8em;
    }

    .arrow {
        width: 1.2rem;
    }
}
